.walsheim {
  font-family: walsheim, sans-serif;
  letter-spacing: 0.2px;
}
/* Tooltip container */
.tooltip {
  position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
  /* Fade Effect */
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  /* right: 105%; */
  /* right: auto;
  left: 105%; */
  /* display: none; //can't animate*/
  padding: 16px;
  width: 250px;
  background-color: white;
  color: #25274d;
  border-radius: 6px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2), 0px 0px 6px rgba(0, 0, 0, 0.3);
}

/* Toolip Arrow */
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  /* display: inline-flex; */
}


@media only screen and (min-width: 960px) {
  .rightplacement.tooltiptext {
    right: auto;
    left: 105%; /* place To the right of the tooltip */
  }
  .rightplacement.tooltiptext::after {
    left: auto;
    right: 100%; /* Arrow To the left of the tooltip */
    border-right-color: white;
  }
  .leftplacement.tooltiptext {
    left: auto;
    right: 105%; /* place To the left of the tooltip */
  }
  .leftplacement.tooltiptext::after {
    right: auto;
    left: 100%; /* Arrow To the right of the tooltip */
    border-left-color: white;
  }
}

.overlay {
  transition: all 0.5s linear;
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 550;
  background-color: #25273d80;
}
/*just add 2 properties on wrapperName:hover 
 "& .overlay": {
                display:"flex",
                height:"100%"
            },
*/
